//Colors
$main-text-color: #000;
$white-text-color: #fff;

$dark-color-section: #000;

// Font weights
$normal-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;

// Rsponsive
$mobileWidth: 600px;